# Copy these values from https://developers.facebook.com/
# From Settings:

export FACEBOOK_APP_ID=0123456789
export FACEBOOK_APP_SECRET=987654321987654321

# This value should match the URL of your app on Heroku, except
# it should end in /callback
# AND IT MUST ALSO MATCH WHAT IS UNDER the Valid OAuth Redirect URIs
# in the "Facebook Login" / "Settings" part of https://developers.facebook.com/

export FACEBOOK_OAUTH_REDIRECT_URI=https://spark-pac4j-demo-fb-m18.herokuapp.com/callback

# This can literally be any string you want.  It's just extra randomness
# to make cryptographic attacks harder

export SALT=abcdef654321